@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  position: absolute;
  top: calc(50% - 50px);
  right: calc(50% - 50px);
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
