@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.ItineraryCard {
  background-color: rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid;
  box-shadow: 3px 3px 7px rgba(74, 74, 74, 0.5);
  border-radius: 1rem;
  animation: slideIn 0.3s ease-in;
}

.ItineraryInfo {
  position: relative;

  border-bottom: 2px solid;

  .FirstLetter {
    position: absolute;
    top: -0.3rem;
    right: 2rem;
    color: white;
    background-color: red;
    width: 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .Arrow {
    position: absolute;
    top: 0.7rem;
    right: 0.6rem;
  }

  .SecondLetter {
    position: absolute;
    top: -0.3rem;
    right: -1rem;
    color: white;
    background-color: red;
    width: 1.5rem;
    border-radius: 2rem;
    font-weight: bold;
    text-align: center;
  }
}
